.user-detail-modal {
    .ant-modal-body {
        padding: 8px;
        max-height: 80vh;
        overflow-y: auto;
    }
    .detail-item {
        padding: 12px;
    }
    .detail-modal-title {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .detail-label {
        display: inline-block;
        margin-right: 8px;
    }
}
