.user-detail-modal {
    .ant-modal-body {
        padding: 8px;
        max-height: 80vh;
        overflow-y: auto;
    }
    .detail-item {
        padding: 12px;
    }
    .detail-modal-title {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        padding-top: 20px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .ant-tabs-nav-wrap .ant-tabs-nav-list {
    //     .ant-tabs-tab {
    //         border-bottom-color: #1677ff;
    //     }
    //     .ant-tabs-tab-active {
    //         border-color: #1677ff;
    //         border-bottom: #fff;
    //     }
    // }
    // .ant-tabs-top>.ant-tabs-nav:before, .ant-tabs-bottom>.ant-tabs-nav:before, .ant-tabs-top>div>.ant-tabs-nav:before, .ant-tabs-bottom>div>.ant-tabs-nav:before{
    //     border-bottom: none;
    // }
    .ant-timeline {
        padding-top: 20px;
    }
    .ant-tabs-content {
        padding-left: 20px;
    }
    .ant-timeline-item:last-child {
        padding-bottom: 0;
    }

    .detail-label {
        display: inline-block;
        margin-right: 8px;
    }
}
