.distribution-rule-setting {
    display: flex;
    .base-set {
        width: 420px;
        min-height: 500px;
        margin-right: 20px;
        border-right: 1px solid #eee;
        padding-right: 12px;
        padding-left: 10px;
        .title-text {
            margin-bottom: 20px;
        }
        .indent {
            padding-left: 30px;
            width: 80%;
        }
    }
    .rule {
        flex: 1;
    }
}

.distribution-rule-setting-button {
    float: right;
    padding-right: 40px;
}
